ca:
  root:
     dn: {{ search_guard_ca.root.dn }}
     keysize: {{ search_guard_ca.root.keysize }}
     validityDays: {{ search_guard_ca.root.validityDays }}
     pkPassword: {{ search_guard_ca.root.pkPassword }}
     file: {{ search_guard_ca.root.file }}
